<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.metast.tuoke.module.live.dal.mysql.snsActuser.SnsActUserMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <resultMap type="cn.metast.tuoke.module.live.controller.admin.snsActuser.vo.SnsActUserRespVO" id="SnsActUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="actId"    column="act_id"    />
        <result property="planFee"    column="plan_fee"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="realFee"    column="real_fee"    />
        <result property="orderNo"    column="order_no"    />
        <result property="feeTime"    column="fee_time"    />
        <result property="sName"    column="s_name"    />
        <result property="sPhone"    column="s_phone"    />
        <result property="sAge"    column="s_age"    />
        <result property="sGender"    column="s_gender"    />
        <result property="sUnit"    column="s_unit"    />
        <result property="sWx"    column="s_wx"    />
        <result property="sEmail"    column="s_email"    />
        <result property="avatar"    column="avatar"    />

        <result property="planArriveTime"    column="plan_arrive_time"    />
        <result property="registerTime"    column="register_time"    />
        <result property="mileage"    column="mileage"    />
        <result property="title"    column="title"    />
        <result property="remark"    column="remark"    />

        <result property="nickName"    column="nick_name"    />
    </resultMap>
    <select id="selectActUserCount"  resultType="int" parameterType="cn.metast.tuoke.module.live.controller.admin.snsActuser.vo.SnsActUserRespVO">
        SELECT count(*) from sns_act_user
        where 1=1
        <if test="actId != null "> and act_id = #{actId}</if>
        <if test="userId != null "> and user_id = #{userId}</if>
        <if test="feeTime != null "> and fee_time is null</if>
    </select>
    <select id="selectSnsActUserAppList" parameterType="cn.metast.tuoke.module.live.controller.admin.snsActuser.vo.SnsActUserRespVO" resultMap="SnsActUserResult">
        select t1.id, t1.user_id,t2.nickname as nick_name,t1.register_time,t1.register_time, t2.avatar,act_id, plan_fee, t1.create_time, t1.status, real_fee, order_no, fee_time, s_name, s_phone, s_age, s_gender, s_unit, s_wx, s_email,
               t1.mileage, t1.remark
        from sns_act_user t1 LEFT JOIN system_users t2 on t1.user_id=t2.id
        where t1.act_id=#{actId} and t1.status=0 and t1.deleted=0
    </select>
    <delete id="deleteSnsActUserActById" parameterType="Long">
        delete from sns_act_user where act_id = #{id}
    </delete>

    <select id="selectSnsActUserNewList" parameterType="Long" resultMap="SnsActUserResult">
        select t1.id, t1.user_id,t1.register_time,t2.avatar,act_id, plan_fee, t1.create_time, t1.status, real_fee, order_no, fee_time, s_name, s_phone, s_age, s_gender, s_unit, s_wx, s_email,
               t1.mileage,t1.remark
        from sns_act_user t1 LEFT JOIN system_users t2 on t1.user_id=t2.id
        where t1.act_id=#{id} and t1.deleted=0 and t1.status=0 ORDER BY t1.create_time DESC LIMIT 10
    </select>

    <select id="selectSnsActUserList" parameterType="cn.metast.tuoke.module.live.controller.admin.snsActuser.vo.SnsActUserPageReqVO" resultMap="SnsActUserResult">
        select t1.id, t1.user_id, t1.act_id, t1.plan_fee,t1.register_time,t1.register_time, t1.create_time, t1.status, t1.real_fee,
        t1.order_no, t1.fee_time, t1.s_name,t1.s_phone, t4.mobile as s_phone, t1.s_age, t1.s_gender, t1.s_unit, t1.s_wx, t1.s_email,
        t1.mileage, t1.remark,t3.title
        from sns_act_user t1 LEFT JOIN sns_act t2 on t1.act_id=t2.act_id LEFT JOIN sns_post t3
        on t2.post_id=t3.post_id LEFT JOIN system_users t4 on t1.user_id=t4.id
        where 1=1 and t2.m_status=0 and t1.deleted=0
        <if test="reqvo.userId != null "> and t1.user_id = #{reqvo.userId}</if>
        <if test="reqvo.title != null "> and t3.title like concat('%', #{reqvo.title}, '%')</if>
        <if test="reqvo.actId != null "> and t1.act_id = #{reqvo.actId}</if>
        <if test="reqvo.planFee != null "> and t1.plan_fee = #{reqvo.planFee}</if>
        <if test="reqvo.status != null "> and t1.status = #{reqvo.status}</if>
        <if test="reqvo.realFee != null "> and t1.real_fee = #{reqvo.realFee}</if>
        <if test="reqvo.orderNo != null  and reqvo.orderNo != ''"> and t1.order_no = #{reqvo.orderNo}</if>
        <if test="reqvo.feeTime != null "> and t1.fee_time = #{reqvo.feeTime}</if>
        <if test="reqvo.sPhone != null  and reqvo.sPhone != ''"> and t4.phonenumber = #{reqvo.sPhone}</if>
        <if test="reqvo.mileage != null  and reqvo.mileage != ''"> and t1.mileage = #{reqvo.mileage}</if>

        order by t1.create_time DESC
    </select>

    <insert id="insertSnsActUser" parameterType="cn.metast.tuoke.module.live.controller.admin.snsActuser.vo.SnsActUserRespVO" useGeneratedKeys="true" keyProperty="id">
        insert into sns_act_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="actId != null">act_id,</if>
            <if test="planFee != null">plan_fee,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="realFee != null">real_fee,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="feeTime != null">fee_time,</if>
            <if test="sName != null">s_name,</if>
            <if test="sPhone != null">s_phone,</if>
            <if test="sAge != null">s_age,</if>
            <if test="sGender != null">s_gender,</if>
            <if test="sUnit != null">s_unit,</if>
            <if test="sWx != null">s_wx,</if>
            <if test="sEmail != null">s_email,</if>

            <if test="planArriveTime != null">plan_arrive_time,</if>
            <if test="registerTime != null">register_time,</if>

            <if test="mileage != null">mileage,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="actId != null">#{actId},</if>
            <if test="planFee != null">#{planFee},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="realFee != null">#{realFee},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="feeTime != null">#{feeTime},</if>
            <if test="sName != null">#{sName},</if>
            <if test="sPhone != null">#{sPhone},</if>
            <if test="sAge != null">#{sAge},</if>
            <if test="sGender != null">#{sGender},</if>
            <if test="sUnit != null">#{sUnit},</if>
            <if test="sWx != null">#{sWx},</if>
            <if test="sEmail != null">#{sEmail},</if>

            <if test="planArriveTime != null">#{planArriveTime},</if>
            <if test="registerTime != null">#{registerTime},</if>

            <if test="mileage != null">#{mileage},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
</mapper>
